//-
	Rule the words! KKuTu Online
	Copyright (C) 2017-2018 JJoriping(op@jjo.kr)
	Copyright (C) 2017-2018 GodTu(admin@godtu.cf)
	Copyright (C) 2018 에베벱(admin@otu.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= L('title')
block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle

	+separator(5)
	br
	div.jjoriping(style='margin: 0 auto; width: 325px;')
		div(style='margin-bottom: -110px; padding-left: 70px;')
			h3#holder= L('title').replace(/\[.+?\]/g, "")
			img#logo(src='/img/kkutu/short_logo.png')
		a(href=L('svstart'))
			button#game-start.jjo-display
	+separator(5)
	div.leftmenu(style='float: left; width: 151px;')
		a(href='https://discord.gg/WK4CJsy', target='_blank')
			img#discord(src='/img/kkutu/ko_KR/discord.png', width="150px")
		br
		a(href='https://www.otucommunity.kr/', target='_blank')
			img#discord(src='/img/kkutu/ko_KR/community.png', width="150px")
		a(href='https://www.otucommunity.kr/bbs/board.php?bo_table=notice&wr_id=2', target='_blank')
			img#discord(src='/img/kkutu/ko_KR/donate.png', width="150px")
		a(href='https://www.otu.kr/operation.html', target='_blank')
			img#discord(src='/img/kkutu/ko_KR/woon.png', width="150px")
		a(href='https://www.otu.kr/privacy.html', target='_blank')
			img#discord(src='/img/kkutu/ko_KR/priv.png', width="150px")
		h3.server-list-title
			a#server-refresh
				+FA('refresh')
				+Expl(L('serverRefresh'))
			label= L('serverList')
			label#server-total(style='color: #AAA; font-size: 13px;')
		div#server-list

	div(style='float: right; width: calc(50% - 78px);')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;오투온라인 업데이트 내역
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='400px', src='/notice.html')

	div(style='float: left; width: calc(50% - 80px); margin-left: 5px;')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;오투온라인 이벤트
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='250px', src='/event.html')
	div(style='float: left; width: calc(50% - 80px); margin-left: 5px;')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;오투온라인 공지사항
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='121.5px', src='/kkt_notice.html')
	+separator(10)

block Bottom	
	div.bottom-legal!= L('dictionarySupport')
	block Bottom
	script.
		function setParam(name, value) {
		var l = window.location;
		/* build params */
		var params = {};
		var x = /(?:\\??)([^=&?]+)=?([^&?]*)/g;
		var s = l.search;
		for(var r = x.exec(s); r; r = x.exec(s))
		{
		r[1] = decodeURIComponent(r[1]);
		if (!r[2]) r[2] = '%%';
		params[r[1]] = r[2];
		}
		/* set param */
		params[name] = encodeURIComponent(value);
		/* build search */
		var search = [];
		for(var i in params)
		{
		var p = encodeURIComponent(i);
		var v = params[i];
		if (v != '%%') p += '=' + v;
		search.push(p);
		}
		search = search.join('&');
		/* execute search */
		l.search = search;
		}
	div.bottom-legal!="언어를 선택하세요 Please choose the language."
	a(href="javascript:setParam('locale', 'ko_KR');") 한국어 Korean
	br
	a(href="javascript:setParam('locale', 'en_US');") 영어 English
